
<input type="button" value="Add" onclick="javascript:void(0);" data-bind="event: {click: AddUser}" />

<table>
	<tr>
		<th data-bind="attr: {class: CalculateSortOrderClass()('Firstname')}">
			<a data-bind="event: {click: function(){ ChangeSort('Firstname');} }" href="javascript:void(0)">Firstname</a>
		</th>
		<th data-bind="attr: {class: CalculateSortOrderClass()('Lastname')}">
			<a data-bind="event: {click: function(){ ChangeSort('Lastname');} }" href="javascript:void(0)">Lastname</a>
		</th>
		<th data-bind="attr: {class: CalculateSortOrderClass()('Status')}">
			<a data-bind="event: {click: function(){ ChangeSort('Status');} }" href="javascript:void(0)">Status</a>
		</th>
		<th data-bind="attr: {class: CalculateSortOrderClass()('Pages')}">
			<a data-bind="event: {click: function(){ ChangeSort('Pages');} }" href="javascript:void(0)">Pages</a>
		</th>
		<th data-bind="attr: {class: CalculateSortOrderClass()('IsAdmin')}">
			<a data-bind="event: {click: function(){ ChangeSort('IsAdmin');} }" href="javascript:void(0)">Admin</a>
		</th>
	</tr>
	<tbody>
		<!-- ko foreach: Users -->
		<tr data-bind="event: {click: function(data){ $root.EditUser(data); } }">
			<td data-bind="text: Firstname, event: {click: function(data){ $root.EditUser(data); } }"></td>
			<td data-bind="text: Lastname"></td>
			<td data-bind="text: Status"></td>
			<td data-bind="text: Pages"></td>
			<td class="checkbox"><input type="checkbox" data-bind="checked: IsAdmin" disabled /></td>
		</tr>
		<!-- /ko -->
	</tbody>

</table>

<!-- ko if: EditUserModel() != null -->
<!-- ko with: EditUserModel() -->
<div class="cover-form">
	<div class="form">
		<div class="form-head">
			<!-- ko if: Id() != 0 -->
			<span>Edit user</span>
			<!-- /ko -->
			<!-- ko if: Id() == 0 -->
			<span>Add user</span>
			<!-- /ko -->
		</div>
        
		<div class="form-body">
			
			<p>
				<label for="firstname">Firstname</label>
				<input type="text" id="firstname" data-bind="value: Firstname" />
			</p>
			<p>
				<label for="lastname">Lastname</label>
				<input type="text" id="lastname" data-bind="value: Lastname" />
			</p>
			<p>
				<label for="status">Status</label>
				<select id="status" data-bind="options: mockModels.userStatuses,
                       value: Status,
                       optionsCaption: 'Choose...'"></select>
			</p>
			<p>
				<label>&nbsp;</label>
				<input type="checkbox" id="isAdmin" data-bind="checked: IsAdmin" />
				<label for="isAdmin">Admin</label>
			</p>
			<div class="clear js-page-input">
				
				<div class="column">

					<label>User's pages</label>
					<div class="pages js-user" data-bind="foreach: Pages">
						<div class="page js-page" data-bind="text: $data, attr: {'data-page': $data}"></div>
					</div>
				</div>
				<div class="column">
					<label>Available pages</label>
					<div class="pages js-available" data-bind="foreach: AvailablePages">
						<div class="page js-page" data-bind="text: $data, attr: {'data-page': $data}"></div>
					</div>
				</div>
			</div>
			<p class="clear">
				<input type="button" value="Save" onclick="javascript:void(0);" data-bind="event: {click: $root.Save}" />
				<input type="button" value="Cancel" onclick="javascript:void(0);" data-bind="event: {click: $root.Cancel}" />
				<!-- ko if: Id() > 0 -->
				<input type="button" value="Delete" onclick="javascript:void(0);" data-bind="event: {click: $root.Delete}" />
				<!-- /ko -->
			</p>
			<p class="clear"/>
		</div>
	</div>
</div>
<!-- /ko -->
<!-- /ko -->


