html
{
    margin: 0;
    padding: 0;
    background: #E9E9E9;
}

body
{
    width: 60%;
    background-color: #fff;
    color: #333;
    font-family: "Segoe UI" , Verdana, Helvetica, Sans-Serif;
    margin: 0 auto;
    padding: 0;
}

a
{
    outline: none;
    text-decoration: underline;
}

a:hover
{
    background-color: #c7d1d6;
}


h1, h2, h3, h4, h5, h6
{
    margin-bottom: 0;
    padding-bottom: 0;
}

h1
{
    font-size: 1.5em;    
}


/* main layout
----------------------------------------------------------*/
#body
{
    clear: both;
    padding: 40px;    
}

header .content-wrapper
{
    padding: 10px 40px 0 40px;
}

/* forms */

input[type="checkbox"]
{
    background: transparent;
    border: none;
    width: auto;
    margin: 5px;
}

input:focus, select:focus {
    outline-color: gray;
}

input.error:focus {
    outline-color: #f88;
}


/* tables
----------------------------------------------------------*/
table
{
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 2px solid black;
}

th
{
    text-align: left;
    border: 1px solid black;
    padding: 5px 10px;
}

th a
{
    display: block;
    position: relative;
}

th a:link, th a:visited, th a:active, th a:hover
{
    color: #333;
    font-weight: 600;
    text-decoration: none;
    padding: 0;
}

th a:hover
{
    color: #000;
}

th.asc a, th.desc a
{
    margin-left: 1em;
}

th.asc a:before, th.desc a:before
{
    display: block;
    position: absolute;
    left: -1.2em;
    top: 20%;
    font-size: 0.75em;
}

th.asc a:before
{
    content: '▲';
}

th.desc a:before
{
    content: '▼';
}

td
{
    border: 1px solid black;
    padding: 5px 10px;
    cursor: pointer;
}

tr.pager td
{
    padding: 0 0.25em 0 0;
}

td.checkbox {
    text-align: center;
}

th {
    background: #CCCCCC;
}

tr:nth-child(2n) {
    background: #ECECEC;
}


.cover-form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.cover-form .form {
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -250px;
    border: 2px solid black;
    border-radius: 10px;  
    background: #fff;        
}

.form-head {
    background: #E6E6E6;
    border-bottom: 2px solid black;
    text-align: center;
    padding: 5px;   
    border-radius: 10px 10px 0 0;
    position: relative;
}

.form-head .close {
    color: #E6E6E6;
    background: black;
    border-radius: 7px;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 14px;
    height: 14px;
    line-height: 1em;
    font-weight: bold;
    font-family: monospace;
    cursor: pointer;
}

.form-body {    
    padding: 20px;
    border-radius: 0 0 10px 10px;
}

.form-body .form-row {
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

.form-body .form-row:first-child {
    margin-top: 0;
}

.form-body .form-row:after {
    content:'';
    display:block;
    clear: both;
}

.form-body .form-row>label, .form-body input{
    float: left;
}

.form-body .form-row>label{
    width: 100px;
}

.form-body input[type="text"] {
    width: 293px;
    border: 2px solid black;
    padding-left: 0.25em;
}

.form-body select {
    width: 300px;
    border: 2px solid black;
    border-radius: 4px;
}

.form-body .pages {
    width: 175px;
    height: 120px;
    border: 2px solid black;
}

.form-body .column {
    float: left;
    margin-left: 40px;
 }

.form-body .column:first-child {
    margin-left: 0;
}

.form-body .pages .page {
    cursor: move;
    padding: 4px;
    display: table;
}

.clear {
    clear: both;
}

input[type=button] 
{
    border: 2px solid black;
    background: #E6E6E6;
    border-radius: 4px;
    padding: 1px 35px;
    font-size: 1em;
    margin-right: 10px;
    cursor: pointer;
}

.current-sort {
    text-decoration: underline;
}


span.error {
    color: red;
}

input.error {
    border-color: red !important; 

}